.top-div-desktop{
    z-index: 2;
    position: absolute;
    left: 25%;
    width: 50%;
    background-color: white;
    border-radius: 25px;
    top: 10px;
}

#side-bar{
    position: fixed;
    z-index: 2;
    height: 100%;
    overflow: auto;
    width: 15%;
    background-color: gray;
    opacity: 0.6;
}

#side-bar-mobile{

}

#side-bar-list{
    position: absolute;
    z-index: 3;
    color: white;
    list-style-type: none;
    padding: 0;
    text-align: center;
    width: 100%;
}

#side-bar-item{
    display: block;
    padding: 5px;
}

#side-bar-item:hover{
    background-color: black;
    opacity: 1;
}